Repository Stad-Org/Backend-Software, pull requests merged in 2023-12, with the labels that each got.

#4 Nick's branch to main with the Tests
  .eslintrc.js
  package-lock.json
  package.json
  service/DefaultService.js
  tests/S-4_Account_creation _deletion_and _get_info.test.js
Labels: tests

#5 TESTs: S-2 Grade Upload, S-6 Edit User Info, S-7 Get Grades
  service/DefaultService.js
  tests/S-2_Upload_Grades.test.js
  tests/S-6_Edit_User_Info.test.js
  tests/S-7_Get_Grades.test.js
Labels: tests

#6 Test: S-10 Edit Class
  api/openapi.yaml
  controllers/Default.js
  service/DefaultService.js
  tests/S-10_Edit_Class.test.js
Labels: tests

#10 Test: S-3 Create, Get & Delete Class
  service/DefaultService.js
  tests/S-3_Create_Get_Delete_Class.test.js
  tests/examples.test.js
Labels: tests

#9 tests: S-11 POST, GET and DELETE Chat and Messages
  service/DefaultService.js
  tests/S-11_Chat_and_Messages_modifications.test.js
Labels: tests

#13 Add documentation to Default.js
  controllers/Default.js
Labels: documentation

#17 Remove variable redefinitions
  controllers/Default.js
Labels: bug

#20 Break S-3 into separate S-3_utils.js file
  tests/S-3_Create_Get_Delete_Class.test.js
  tests/S-3_utils.js
Labels: enhancement

#21 Comments in the new types file
  types/types.js
Labels: documentation
